.Auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto auto auto;
    width: 400px;
}
.auth_title {
    font-size: 40px;
}
.auth_input {
    display: block;
    border: 1px solid #ddd;
    width: 360px;
    height: 20px;
    padding: 20px;
    border-radius: 3px;
}

.auth_loginBtn {
    margin: 20px 0 0 0;
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
}

.toggleSpan {
    margin-top: 10px;
    color: #555;
    align-self: flex-start;
}