.HomeFooter {
  border-top: 1px solid #eee;
  padding: 20px 0;
}

.home_meta,
.home_copyright {
  margin: 10px 0;
  font-size: 0.875em;
  color: #777;
}

@media (min-width: 1080px) {
  .home_meta,
  .home_copyright {
    margin-left: 10%;
  }
}
