.CategorySideBar {
  flex-basis: 230px;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 75px 0px 32px 50px;
  border-left: 1px solid #eee;
}

@media (max-width: 1079px) {
  .CategorySideBar {
    display: none;
  }
}

.category_title {
  color: #555;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
.category_title:hover {
  text-decoration: underline;
}
