.post_item {
  display: flex;
  margin-bottom: 28px;
  text-decoration-line: none;
}

.post_item:hover .post_title {
  text-decoration: underline;
}

.post_title,
.post_content,
.post_date {
  cursor: pointer;
}

.post_content,
.post_date {
  color: #999;
}

.post_image {
  margin-left: 25px;
  width: 130px; /*모바일 100px으로 수정필요 */
  height: 100%;
  object-fit: cover;
  border: 1px solid #f1f1f1;
}

.post_title {
  margin-bottom: 9px;
  padding-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  font-size: 18px;
  color: #555;
}

.post_content {
  margin-bottom: 11px;
  max-height: 66px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 14px;
  line-height: 20px;
}

.post_date {
  font-size: 12px;
}
